---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import logoImg from "../assets/LOGO_2.png"; 
---

<footer class="bg-linear-to-b from-[#112A40] to-[#537FA6] text-white py-12 px-6 md:px-16 font-sans">
  <div class="border-gray-800/50 place-items-center text-center">

    <div class="group flex justify-center mb-10 cursor-pointer">
      <Image 
        src={logoImg} 
        alt="Logo J&R Consultores" 
        class="h-40 w-auto drop-shadow-2xl transition-all duration-500 ease-out transform group-hover:-translate-y-2 group-hover:scale-110 group-hover:brightness-125"
        width={280}
        height={180}
        quality={80} 
        format="webp"
        loading="lazy"
      />
    </div>

    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10">      
      <div class="space-y-4">
        <div class="flex place-content-center items-center gap-2">
          <Icon name="lucide:map-pin" class="h-5 w-5 text-gray-400" />
          <h3 class="font-bold tracking-widest text-sm">DIRECCIÓN</h3>
        </div>
        <a class="text-xs text-gray-300 leading-relaxed space-y-4" href="https://maps.app.goo.gl/NsDFtBBGHnu1Fnpf6">
          <p>Clavel 91, Col. Potrero<br> de San Bernardino, 16030<br> Xochimilco, CDMX</p>
        </a>
      </div>
  
      <div class="space-y-4">
        <div class="flex place-content-center items-center gap-2">
          <Icon name="lucide:mail" class="h-5 w-5 text-gray-400" />
          <h3 class="font-bold tracking-widest text-sm">EMAIL</h3>
        </div>
        <div class="text-xs text-gray-300 space-y-1">
          <p>jessarmenta@jyrconsultoresmx.com</p>
          <p>rodacosta@jyrconsultoresmx.com</p>
          <p>maylopez@jyrconsultoresmx.com</p>
        </div>
      </div>
  
      <div class="space-y-4">
        <div class="flex place-content-center items-center gap-2">
          <Icon name="lucide:phone" class="h-5 w-5 text-gray-400" />
          <h3 class="font-bold tracking-widest text-sm">TELÉFONOS</h3>
        </div>
        <div class="text-xs text-gray-300 space-y-1">
          <p>+52 00 0000 0000</p>
        </div>
      </div>

      <div class="flex flex-col space-y-4 text-center">
        <div class="flex place-content-center items-center gap-2">
          <Icon name="lucide:share-2" class="h-5 w-5 text-gray-400" />
          <h3 class="font-bold tracking-widest text-sm">REDES SOCIALES</h3>
        </div>
        <div class="flex place-content-center items-center gap-6 text-gray-400">
          <a href="https://www.instagram.com/jyr_consultores" aria-label="Instagram" target="_blank" class="group flex items-center justify-center w-10 h-10 rounded-full border border-gray-500/30 bg-white/5 transition-all hover:bg-[#537FA6] hover:border-[#537FA6] hover:-translate-y-1">
            <Icon name="lucide:instagram" class="h-5 w-5 group-hover:text-white" />
          </a>
        </div>
      </div>
    </div>

    <div class="max-w-7xl mx-auto pt-10 flex flex-col items-center gap-6">
      <a href="/aviso-privacidad" class="group relative text-sm font-semibold tracking-widest text-slate-200">
        AVISO DE PRIVACIDAD
        <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-white transition-all duration-300 group-hover:w-full"></span>
      </a>
    </div>
  </div>
  <div class="max-w-6xl mx-auto mt-12 pt-6 border-t border-white/10 text-center text-xs text-white">
    <p>&copy; 2026 J&R Consultores. Todos los derechos reservados.</p>
  </div>

  <div class="pt-4 w-full max-w-xs">
    <span class="text-[12px] font-bold tracking-tighter italic text-white">
      Desarrollado por AXIS ZC DEVELOP
    </span>
  </div>
</footer>