---
const { title } = Astro.props;
import { Toaster } from "sonner";
import 'aos/dist/aos.css';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/LOGO_6.png">
    
    <title>{title}</title>

    <meta name="description" content="Contadores en CDMX expertos en cumplimiento fiscal, gestión de ingresos mixtos y regularización ante el SAT. Prevención de riesgos para empresas y personas morales. ¡Agenda tu asesoría!" />
    <meta property="og:title" content="Consultoría Contable y Fiscal en Ciudad de México" />
    <meta property="og:description" content="Expertos en impuestos y contabilidad para empresas y personas morales. Atención personalizada y resultados garantizados." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://jyrconsultoresmx.com" />
    <meta property="og:image" content="https://jyrconsultoresmx.com/LOGO_6.png" />
    <link rel="canonical" href="https://jyrconsultoresmx.com" />

    <meta name="google-site-verification" content="h6gNEe_bHL0fZiQuRnn6dahFvbEPV6jtDdDjuU4kHLw" />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "AccountingService",
        "name": "JyR Consultores",
        "url": "https://jyrconsultoresmx.com",
        "logo": "https://jyrconsultoresmx.com/LOGO_6.png",
        "description": "Especialistas en cumplimiento fiscal, ingresos mixtos y prevención de riesgos.",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Ciudad de México",
          "addressCountry": "MX"
        },
        "hasOfferCatalog": {
          "@type": "OfferCatalog",
          "name": "Servicios Contables",
          "itemListElement": [
            { "@type": "Offer", "itemOffered": { "@type": "Service", "name": "Cumplimiento fiscal" } },
            { "@type": "Offer", "itemOffered": { "@type": "Service", "name": "Gestión de ingresos mixtos" } },
            { "@type": "Offer", "itemOffered": { "@type": "Service", "name": "Regularización fiscal" } },
            { "@type": "Offer", "itemOffered": { "@type": "Service", "name": "Prevención de riesgo" } }
          ]
        }
      }
    </script>
  </head>
  <body class="bg-slate-100 text-gray-900">
    <main class="overflow-x-hidden w-full">
        <slot />
    </main>
    
    <Toaster position="top-right" richColors client:load />

    <script>
      import AOS from 'aos';
    
      window.requestAnimationFrame(() => {
        AOS.init({
          duration: 800,
          once: true,
          offset: 50,
          disable: 'mobile'
        });
      });
    </script>
  </body>
</html>