---
const { title } = Astro.props;
import { Toaster } from "sonner";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/LOGO_6.png">
  </head>
  <body class="bg-slate-100 text-gray-900 overflow-x-hidden">
    <slot />
    <Toaster position="top-right" richColors />
    <script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script is:inline>
      AOS.init({
        duration: 800,
        once: true,
        offset: 50,
      });
    </script>
  </body>
</html>
